*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 500px;
    height: 600px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 5px 3px 3px 3px rgb(44, 42, 42);
}
.border-top{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.border-top.color1{
    background-color: orange;
    width: 500px;
    height: 3px;
}
.invoice-head{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0,5rem;
}
.logo{
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1px;
}
.logo span{
    font-weight: 400;
}
.title{
    text-transform: uppercase;
    margin-right: 10px;
    padding-top:12px ;
    font-size: 25px;
    font-weight: 600;
    text-align: right;
}
.inv-number{
    padding:10px 10px 0 12px;
}
.inv-date{
    padding: 10px 0 0 140px;
}
.inv-number h3, .inv-date h3{
    font-weight: 700;
    font-size: 12px;
}
.billing-detail{
    padding: 10px;
    margin-top: 15px;
}
.billing-detail p:nth-child(1){
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
}
.billing-detail p:nth-child(2){
text-transform: uppercase;
}
.billing-detail p:nth-child(1){
    font-size: 10px;
}
.billing-detail p:nth-child(2){
    font-weight: 700;
}
.billing-detail p span{
    font-weight: 600;
}
table{
    padding: 10px;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    margin:20px ;
}
table thead tr td{
    text-align: center;
    font-weight: 600;
    padding: 8px 5px;
}
table tbody td{
    text-align: center;
    font-weight: 400;
    padding: 7px 5px;
}
.total-section{
    display: flex;
   text-align: center;
    font-size: 15px;
    margin: 20px;
    padding: 10pxpx;
    gap:  5rem;
}
.sub span, .tax span, .total span{
   font-weight: 600;
}
.sub p, .tax p, .total p{
    font-weight: 300;
}
div.g-total{
    border: 2px dotted black;
    padding-top:2px;
    padding-bottom: 2px;
    margin: auto;
} 